numpy==1.16.0
Flask
pandas
Flask-Login
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
Werkzeug
WTForms
email-validator
-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.6.0+cpu 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
transformers[sentencepiece]
