<div className="header">
            <header className="App-header">
                <div className="flex-row" style={{ marginRight: "auto"}}> <img src={logo} className="App-logo" alt="logo" />
                    <p>Machine Translation</p> </div>
                <a className="header-child header-link" href="https://reactjs.org">Help</a>
                <a
                    className="in-line header-link"
                    href="https://reactjs.org"
                    rel="noopener noreferrer"
                >
                Login
                </a>
            </header>
        </div>