{% extends "base.html" %}

{% block body %}

 <header class="App-header">
                <div class="flex-row" style="margin-Right:auto"> <img src="{{url_for('static', filename='logo.png')}}" class="App-logo" alt="logo" />
                    <p>Machine Translation</p> </div>
               <!--  {% if session.logged_in %}
		          <a href="/logout/" class="in-line header-link">Logout</a>
	           {% else %}
		            <a href="/login/" class="in-line header-link" rel="noopener noreferrer">Login</a>
		             <a href="/register/" class="in-line header-link">Sign up</a>
	            {% endif %} -->
                
            </header>
   
<hr>

{% if session['logged_in'] %}
   <div class="welcome-div" style="width:80%;text-align: center;padding: 20px;color:white;">
    <h5>Welcome, {{session['username'] }}</h5>
    <div>
    	 {% if session.role=="member" %}
    	 Want to help us improve the system?
    	 <a href="trans-valid/">Sign up</a> to be a translator or a validator
    	 {% elif session.role=="Translator" %}
           <a href="translate/" class="in-line header-link" style="color:blue">Translate for us</a>
    	 {% elif session.role=="Validator" %}
    	 	<a href="translate/" class="in-line header-link" style="color:blue">Translate for us</a>
            <a href="validate/" class="in-line header-link" style="color:blue">Validate for us</a>
         {% else %}
         	<a href="translate/" class="in-line header-link">Translate</a>
            <a href="validate/" class="in-line header-link">validate</a>
            <a href="delete/" class="in-line header-link">Delete</a>
            <a href="edit/" class="in-line header-link">Edit</a>
    	{% endif %}
    </div>
</div>


<div class="flex-container">
    <form action="{{ url_for('home')}}" class="model_predictor" method="Post" >
    	<h2>Let us Translate for you!</h2>
         
         <div>
            <input type="radio" id="acholi" name="source" value="ach">
<label for="acholi">Acholi</label><br>
 <input type="radio" id="english" name="source" value="en">
<label for="english">English</label><br>

         </div>

<!--         <h3>Translate from Acholi to English</h3>
 -->
        <fieldset>
            Acholi Text to be translated: <br> <br>
            <textarea name="text-message" rows="6" cols="50"></textarea>
        </fieldset>

        <fieldset>
            <input type="submit" value="Translate">
        </fieldset>

    </form>

<div class="result model_predictor" align="center">
    {% if result %}
    Translating from {{lang["source"]}} to {{lang["target"]}}
        Sentence: 
        <b>{{original_input}}</b>
        <br>
        <br> Translation:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</div>


{% else %}
<div class="welcome-div" >
<h3>Hi, there!</h3>
<h4> We hope you are fine</h4>
<h4> Please log in or sign up for an account to use our translation services. </h4>
</div>
<div class="welcome-div">
	<a href="/" class="in-line header-link" style="color:blue">How to get started with Loki</a>
	<a href="/" class="in-line header-link" style="color:blue">Language resources</a>

</div>
{% endif %}

{% endblock body %}

