{% extends "base.html" %}

{% block body %}

 <header class="App-header">
                <div class="flex-row" style="margin-Right:auto"> <img src="{{url_for('static', filename='logo.png')}}" class="App-logo" alt="logo" />
                    <p>Machine Translation</p> </div>
                {% if session.logged_in %}
		          <a href="/logout/">Logout</a>
	           {% else %}
		            <a href="/login/" class="in-line header-link" rel="noopener noreferrer">Login</a>
		             <a href="/register/">Sign up</a>
	            {% endif %}
                
            </header>
   
</div>
<hr>

{% if session['logged_in'] %}
    <h5>Welcome, {{session['username'] }}</h5>
{% endif %}

{% endblock body %}
