{% extends "base.html" %}

{% block body %}

{% from "includes/formhelpers.html" import render_field %}

 <header class="App-header">
                <div class="flex-row" style="margin-Right:auto"> <img src="{{url_for('static', filename='logo.png')}}" class="App-logo" alt="logo" />
                    <p>Machine Translation</p> </div>
                {% if session.logged_in %}
		          <a href="/logout/" class="in-line header-link">Logout</a>
	           {% else %}
		            <a href="/login/" class="in-line header-link" rel="noopener noreferrer">Login</a>
		             <a href="/register/" class="in-line header-link">Sign up</a>
	            {% endif %}
                
            </header>
<h4>
    <strong>
Translate</strong>
</h4>
<hr>

<div class="container">
    <form action="{{ url_for('translate')}}" class="model_predictor" method="Post" >
        <h3>Translate from Acholi to English</h3>
        <h4>Acholi text: Otyeno tero wu maber.</h4>
        <fieldset>
            English Translation: <br> <br>
            <textarea name="text-message" rows="6" cols="50"></textarea>
        </fieldset>

        <fieldset>
            <input type="submit" value="Submit your translations">
        </fieldset>

    </form>
</div>

<hr>

{% endblock body %}